h1{
    text-align: center;
    color: white;
    font-size: 500%;
    margin: 80px 0px;
    padding:0px;
}


body{
    background: linear-gradient( rgb(241, 169, 169), rgb(123, 23, 23), white 100%);
}

.hide{
    display: none;
}

.show{
    display: block;
}

.showCountDown{
    visibility: visible;
}

.hideCountDown{
    visibility: hidden;
}

.initialize{
    border:2px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #dedede;
    padding: 35px 35px;
    margin: 125px 50px;
    text-align: center;
}

img{
    width:50%;
    height:50%;
}


section .row{
    position:relative;
}

.slideup, .slidedown {
    overflow: hidden;
    height: 0;
    transition: height 0.5s;
}
.slidedown {
    height: 30px;
}

@media screen and (min-width:800px){
    .flex-container {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
    }
    /*#pulsante{
        display:block;
        color:white;
        border:0.5px solid black;
        background-color: blueviolet;
        transition-property:hover;
        transition-duration: 3s;
    }
    #pulsante:hover + ul li{
        text-align:right;
    }*/

}

@media screen and (min-width:380px){
    .impostaTimer{
        display:block;
    }
}