h1 {
    text-align: center;
    color: white;
    margin: 60px 0px;
    padding: 0px;
}

/*
impostare sfondo verde
*/
.tomatoGreenWallpaper {
    background: linear-gradient(rgb(192, 216, 192), rgb(61, 195, 61), white 100%);
}

/*
impostare sfondo rosso
*/
.tomatoRedWallpaper {
    background: linear-gradient(rgb(241, 169, 169), rgb(123, 23, 23), white 100%);
}

/*
impostare paragrafo che mostra status timer
*/
#tomatoParagraph {
    text-align: center;
    font-size: 150%;
    text-decoration: underline;
}



button {
    position: relative;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    padding: 20px 40px;
    margin: 10px -35px;
}

.pauseCenter {
    left: 50px;
}

#home {
    left: 550px;
}

#createTimer {
    padding: 20px 37px;
}

/*
classi per cancellare, reinserire,
nascondere e mostrare gli elementi html
*/
.hide {
    display: none;
}

.show {
    display: block;
}

.showCountDown {
    /*visibility: visible;*/
    margin-top:80px;
    display:block;
}

.hideCountDown {
    /*visibility: hidden;*/
    margin-top:80px;
    display:none;
}


/*
riquadro centrale e principale
dove viene inserito il timer
*/
.initialize {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #dedede;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-right: 35px;
    padding-left: 35px;
    margin: 0px 50px;
    margin-top: -30px;
    margin-bottom: 100px;
    text-align: center;
}


.initialize #setTimer>button {
    margin: 0px 5px;
    margin-top: 55px;
    
}



img {
    width: 50%;
}


section .row {
    position: relative;
}

/*
classi delle freccie
*/

.leftArrow {
    position: relative;
    margin-left: 45px;
    animation: effectLeft 3s;
}

.rightArrow {
    position: relative;
    margin-right: 50px;
    animation: effectRight 3s;
}

.error {
    padding: 70px 10px;
    margin-top: 50px;
}

/*
keyframes per creare l'effetto delle freccie 
che si muovono
*/

@keyframes effectLeft {
    from {
        left: 150px;
    }

    to {

        left: 0px;
    }
}

@keyframes effectRight {
    from {
        right: 150px;
    }

    to {

        right: 0px;
    }
}

/*
media query
*/

@media screen and (min-width:380px) {
    .impostaTimer {

        padding: 0px 0px;
    }

    .rightArrow {
        bottom: -10px;
    }

    .leftArrow {
        bottom: -10px;
    }

    section .row {
        position: relative;
        right: 2px;
        bottom: 30px;
    }

    p {
        font-size: 2rem;
    }

    h1 {
        font-size: 4rem;
        padding: 0px 2px;

    }

    section div .row>.first {
        margin-bottom: 10px;
    }


    .initialize #setTimer {
        padding-top: 80px;

    }

    #home {
        top: 100px;
        left: -35px;
        margin-bottom: 100px;
    }

    .pauseCenter {
        left: 30px;
    }

    footer {
        padding-top: 5rem;
    }
}

@media screen and (min-width:480px) {
    .initialize #setTimer {
        padding: 0px 50px;
        padding-top: 80px;

    }

    #home {
        top: 100px;
        left: -35px;
        margin-bottom: 100px;
    }


    .error {
        padding: 70px 10px;
        margin-top: 50px;
    }
}


@media screen and (min-width:580px) {
    p {
        font-size: 3rem;
    }

    h1 {
        font-size: 4rem;
        padding: 0px 2px;

    }

    .initialize #setTimer {
        padding: 0px 100px;
        padding-top: 80px;

    }

    #home {
        left: 200px;
        top: 0px;
    }

}


@media screen and (min-width:800px) {
    p {
        font-size: 3rem;
    }

    h1 {
        font-size: 4rem;

    }

    .initialize #setTimer {
        padding: 0px 150px;


    }

    .rightArrow {
        margin-right: 50px;
        bottom: 20px;
    }

    .leftArrow {
        margin-left: 45px;
        bottom: 20px;
    }

    #home {
        left: 400px;
    }

    .error {
        padding: 70px 10px;
        margin-top: 50px;
    }

}


@media screen and (min-width:1024px) {
    p {
        font-size: 3rem;
    }

    h1 {
        font-size: 5rem;

    }

    .rightArrow {
        margin-right: 50px;
        bottom: 30px;
    }

    .leftArrow {
        margin-left: 45px;
        bottom: 30px;
    }

    #home {
        left: 500px;
    }

    #cancel {
        margin-left: 230px;
    }
}
